[jobinfo]
created_at = 2019-10-16 18:08:22
title = ASD_191016

[version]
FUMA = v1.3.5d
MAGMA = v1.07
GWAScatalog = e96_r2019-09-24
ANNOVAR = 2017-07-17

[inputfiles]
gwasfile = iPSYCH-PGC_ASD_Nov2017.gz
chrcol = CHR
poscol = BP
rsIDcol = SNP
pcol = P
eacol = A1
neacol = A2
orcol = OR
becol = NA
secol = SE
leadSNPsfile = NA
addleadSNPs = 1
regionsfile = NA

[params]
N = 46350
Ncol = NA
exMHC = 1
MHCopt = annot
extMHC = NA
ensembl = v92
genetype = protein_coding
leadP = 1e-5
gwasP = 0.05
r2 = 0.6
r2_2 = 0.1
refpanel = 1KG/Phase3
pop = EUR
MAF = 0
refSNPs = 1
mergeDist = 250

[magma]
magma = 1
magma_window = 0
magma_exp = BrainSpan/bs_age_avg_log2RPKM:BrainSpan/bs_dev_avg_log2RPKM

[posMap]
posMap = 1
posMapWindowSize = 100
posMapAnnot = NA
posMapCADDth = 0
posMapRDBth = NA
posMapChr15 = NA
posMapChr15Max = NA
posMapChr15Meth = NA
posMapAnnoDs = NA
posMapAnnoMeth = NA

[eqtlMap]
eqtlMap = 1
eqtlMaptss = PsychENCODE/PsychENCODE_eQTLs.txt.gz:BRAINEAC/CRBL.txt.gz:BRAINEAC/FCTX.txt.gz:BRAINEAC/HIPP.txt.gz:BRAINEAC/MEDU.txt.gz:BRAINEAC/OCTX.txt.gz:BRAINEAC/PUTM.txt.gz:BRAINEAC/SNIG.txt.gz:BRAINEAC/TCTX.txt.gz:BRAINEAC/THAL.txt.gz:BRAINEAC/WHMT.txt.gz:BRAINEAC/aveALL.txt.gz:GTEx/v8/Brain_Amygdala.txt.gz:GTEx/v8/Brain_Anterior_cingulate_cortex_BA24.txt.gz:GTEx/v8/Brain_Caudate_basal_ganglia.txt.gz:GTEx/v8/Brain_Cerebellar_Hemisphere.txt.gz:GTEx/v8/Brain_Cerebellum.txt.gz:GTEx/v8/Brain_Cortex.txt.gz:GTEx/v8/Brain_Frontal_Cortex_BA9.txt.gz:GTEx/v8/Brain_Hippocampus.txt.gz:GTEx/v8/Brain_Hypothalamus.txt.gz:GTEx/v8/Brain_Nucleus_accumbens_basal_ganglia.txt.gz:GTEx/v8/Brain_Putamen_basal_ganglia.txt.gz:GTEx/v8/Brain_Spinal_cord_cervical_c-1.txt.gz:GTEx/v8/Brain_Substantia_nigra.txt.gz
eqtlMapSig = 1
eqtlMapP = 1
eqtlMapCADDth = 0
eqtlMapRDBth = NA
eqtlMapChr15 = NA
eqtlMapChr15Max = NA
eqtlMapChr15Meth = NA
eqtlMapAnnoDs = NA
eqtlMapAnnoMeth = NA

[ciMap]
ciMap = 1
ciMapBuiltin = EP/PsychENCODE/EP_links_oneway.txt.gz:HiC/PsychENCODE/Promoter_anchored_loops_oneway.txt.gz:HiC/GSE87112/Dorsolateral_Prefrontal_Cortex.txt.gz:HiC/GSE87112/Hippocampus.txt.gz
ciMapFileN = 0
ciMapFiles = NA
ciMapFDR = 1e-6
ciMapPromWindow = 250-500
ciMapRoadmap = E053:E054:E067:E068:E069:E070:E071:E072:E073:E074:E081:E082
ciMapEnhFilt = 0
ciMapPromFilt = 0
ciMapCADDth = 0
ciMapRDBth = NA
ciMapChr15 = NA
ciMapChr15Max = NA
ciMapChr15Meth = NA
ciMapAnnoDs = NA
ciMapAnnoMeth = NA

